{% extends 'core/base.html' %} {% block content %}
{% block title %}Crear documento{% endblock title %}

<div class="container">
  <div class="row m-3">
    {% for tipo in tipos %}

    <div class="col col-4">
      <div class="card">
        <div class="card-header">Libro</div>

        <div class="card-body">
          <h5 class="card-title">{{tipo.tipo}}</h5>
          <p class="card-text">sdsfs</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-info" href="../create/{{tipo.idtipodocumento}}">
            Subir {{tipo.tipo}}</a
          >
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}
