{% extends 'core/base.html' %}
{% load static %}

{% block title %}title{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html" style="color: #e8e7e7;">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/login.html" style="color: #e8e7e7;">Inicar Sesion</a>
          </li>
          <li class="nav-item2">
            <a class="nav-link" href="/register.html" style="color: #e8e7e7; ">Registrarse</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        </form>
      </div>
    </div>
  </nav>

  <!Categorias>
    <nav class="navbar2 navbar-expand-lg  ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #1b1b1b;">Recomendados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #1b1b1b; ">Libros A-Z</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #1b1b1b; ">Revistas A-Z</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #1b1b1b; ">Informes A-Z</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #1b1b1b; ">Tesis A-Z</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/SubirDoc.html" style="color: #1b1b1b; ">Subir Documento</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


 <form action="#" class="border p-1 form">
    <div class="container" style="margin-top: 1%;">
      <div class="form-group">
        <label style="margin-top: 2%; font-size: 40px; font-weight: 800;">  TEOREAMA DE CUERDAS ESTABLECIDOS POR LOS ESTUDIANTES</label>
      </div>
      <div class="row">
        <div class="col order-last" style="margin-left: 5%; margin-top: 2%;">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Autor: &nbsp;</td>
                            <td>Nombre del Autor</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                        <tr>
                            <td>Editorial: &nbsp;</td>
                            <td>Nombre de la Editorial</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col order-first" style="margin-bottom: 3%;">
          <!Libro 1>
            <div class="containerima" style="max-width: 370px; position: relative; margin-top: 4%;"
              aria-hidden="true">
              <img width="300" height="375"
                src="./libros ejemplos/3000-solved-problems-in-electric-circuits-schaums-syed-a-nasar-1st-edition-250x325.jpg">
              <div class="content">
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>

<div class="container">
    

    <div class="Resumen">
        <u>
            <h3>Resumen</h3>
        </u>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            malesuada vulputate nibh. Quisque rutrum mollis urna a consequat.
            Curabitur magna massa, consequat vel fringilla at, iaculis at lectus.
            Etiam odio augue, facilisis id placerat quis, posuere ut ipsum. Nunc
            mauris mi, tincidunt a gravida et, faucibus in lectus. Nullam eleifend
            in eros ac maximus. Sed eget blandit sapien, ac convallis enim. Ut
            pulvinar neque non arcu iaculis ornare. In commodo tellus ante.
            Suspendisse semper rutrum volutpat. Phasellus venenatis vulputate arcu
            in posuere. In vitae ultricies quam. Sed a eros quam. Nullam rhoncus
            maximus luctus. Fusce nec nisi sapien. Curabitur mollis consectetur
            turpis, ut mollis massa imperdiet ut. In accumsan lacus ultrices metus
            fermentum molestie. Duis eleifend elementum nisi rutrum pellentesque.
            Aliquam placerat auctor elit, sed lacinia massa. Pellentesque a ligula
            elit. Quisque lacinia, ante id efficitur mattis, turpis velit
            convallis est, id malesuada turpis nibh in ligula. Mauris ultrices
            quam sit amet dui semper, vel eleifend velit consequat. Etiam
            pulvinar, sapien a laoreet egestas, urna ex mollis justo, non euismod
            turpis diam eu lacus. Interdum et malesuada fames ac ante ipsum primis
            in faucibus. Pellentesque non leo id ligula molestie rutrum eu quis
            tellus. Nulla facilisi. Etiam molestie scelerisque mattis. Curabitur
            auctor massa vitae suscipit faucibus. Nunc faucibus, nisl in
            sollicitudin venenatis, nibh nunc lacinia leo, et porttitor ipsum urna
            ullamcorper lorem. Nullam vel pretium nisl. Morbi sodales malesuada
            tempus. Vestibulum molestie odio eu ligula luctus, sed imperdiet risus
            fringilla. Vestibulum nibh arcu, ultrices et placerat nec, eleifend
            sit amet leo. Sed vitae pharetra felis. Curabitur urna metus,
            fermentum sit amet nibh non, dapibus porta magna. Phasellus elementum
            magna tortor, vulputate sodales turpis aliquam finibus. Praesent
            congue id mi a porta. Maecenas non tellus nisl. Vivamus posuere est
            nec mauris imperdiet fermentum. In eleifend ipsum et lorem commodo,
            nec venenatis lectus dapibus. Nullam tristique tincidunt magna, sit
            amet convallis lorem dictum vehicula. Praesent tincidunt tempor velit,
            quis aliquam purus fringilla quis. Ut in nulla nec libero pellentesque
            ullamcorper nec eget tellus. Donec vitae enim non eros facilisis
            facilisis ac ac augue. Nam sollicitudin tincidunt auctor. Praesent
            accumsan nulla non pretium rutrum. Etiam orci felis, faucibus vitae
            dui a, suscipit semper sapien. Nunc sodales facilisis consequat. Duis
            varius mi fermentum, dapibus justo sit amet, pulvinar nisl. Vivamus eu
            mauris quam. Duis dui lacus, bibendum vitae lacus pulvinar, imperdiet
            pretium magna. Curabitur et diam ac libero vestibulum blandit. Fusce
            vel sapien sit amet justo sagittis varius nec nec ante. Proin
            tristique magna ut scelerisque consectetur. Nunc molestie purus tempus
            orci aliquet, eget consequat diam volutpat. Nulla id enim at ligula
            tincidunt varius. Donec vitae quam ut elit lacinia tempor id at eros.
        </p>
    </div>
</div>

<div class="container" style="margin-top: 5%;">
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Fichero</th>
                        <th>Descripción</th>
                        <th>Páginas</th>
                        <th>Tamaño</th>
                        <th>Formato</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Titulo.pdf</td>
                        <td>Los animales suelen ser entrenados de forma curiosa</td>
                        <td>10 pag.</td>
                        <td>2.56 MB</td>
                        <td>PDF</td>
                        <td>
                            <a class="btn btn-success" target="_blank"
                                href="/bitstream/123456789/1897/1/RECALDE%20SOLANO%20%20CRISTHIAN%20ANDR%c3%89S.pdf">
                                Visualizar/Abrir
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="Footer" style="margin-top: 50px;
padding: 1.5%;
background-color: #1B7505;"></div>



{% endblock content %}
