{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<form action="#" class="border p-4 form">
    <div class="container" style="margin-top: 1%;">
        <div class="form-group">
            <label style="margin-top: 2%; font-size: 40px; font-weight: 800;"> {{registro.titulo}}</label>
        </div>
        <div class="row ">
            <div class="col order-last col-sm-7" style=" margin-top: 1%;">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>

                            <tr>
                                <td>Tipo: &nbsp;</td>
                                <td>{{registro.idtipodocumento.tipo}}</td>
                            </tr>

                            {% for atr in atributos %}

                            <tr>
                                <td> {{atr.atributo}}&nbsp;</td>
                                <td>{{atr.valor}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col order-first col-sm-4" style="margin-bottom: 3%; margin-right: 2%;">
                <!Portada>
                    <div class="containerima"
                        style="max-width: 100%; max-height:100%;position: relative; margin-top: 4%;" aria-hidden="true">
                        <img width="100%" height="100%"
                            src="/static/img/3000-solved-problems-in-electric-circuits-schaums-syed-a-nasar-1st-edition-250x325.jpg">
                        <div class="content">
                        </div>
                    </div>
            </div>
        </div>
        <!botones para ver el documento>
            <div class="container text-center" style="margin-top: 2%;">
                <div class="row justify-content-md-center">
                    <div class="col align-items-center">
                        <!COLUMA 1 PARA EL BOTON>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" style="padding-left: 30%; padding-right: 30%; ">
                                Ver
                            </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="padding-left: 26%; padding-right: 26%; ">
                            Descargar
                        </button>
                    </div>
                </div>
            </div>
    </div>
</form>

<div class="container">
    <div class="container" style="margin-top: 5%;">
        <div class="panel panel-primary">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fichero</th>
                            <th>Descripción</th>
                            <th>Páginas</th>
                            <th>Tamaño</th>
                            <th>Formato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{registro.ruta.name}}</td>
                            <td>{{registro.titulo}}</td>
                            <td>10 pag.</td>
                            <td>2.56 MB</td>
                            <td>PDF</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Aqui inicia el modal-->
    <div div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80% !important;" role="document">
            <div class="modal-content">

                <!-- Cabecera del modal-->
                <div class="modal-header">
                    <h4 class="modal-title">Titulo</h4>
                    <button button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Pdf -->
                <div class="modal-body">
                    <iframe
                        src="https://www.dspace.espol.edu.ec/retrieve/4c89f87c-44dd-4c5d-8923-115b1d6643cd/EXA-2022-1S-SIMULACI%c3%93N%20MATEM%c3%81TICA-1-1Par.pdf"
                        width="100%" height="500px" id="myframe"></iframe>
                </div>

            </div>
        </div>
    </div>

</div><!-- Model End   -->

<!RELACIONADOS>
    <div class="container">
        <div class="row align-items-center">

            <div class="col align-items-center">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="col order-last">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!Los activos>
                                    <div class="row">
                                        {% for item in docsAlt %}
                                        <div class="col order-last">
                                            <!Libro 1>
                                                <div class="containerima"
                                                    style="max-width: 100%; max-height:100%;position: relative; margin-top: 4%;"
                                                    aria-hidden="true">
                                                    <img width="100%" height="100%"
                                                        src="{{item.portada.url}}">
                                                    <div class="content">
                                                        <p>
                                                            <a class="titulos-libros" href="../details/{{item.iddocumento}}"
                                                                style=" color: #dfdfdf;  font-size: 20px; font-weight: 900; ">
                                                                {{item.titulo}}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>                                                    
                                        </div>             
                                        
                                        {% endfor %}
                                        
                                        {% for i in  columnsToAdd %}                                         
                                        <p>{{i}}</p> 
                                        {% for j in i %}   
                                        {% if page_obj.number ==  page_obj.paginator.num_pages %}                                     
                                        <div class="col order-last">
                                            <!Libro 1>
                                                <div class="containerima"
                                                    style="max-width: 100%; max-height:100%;position: relative; margin-top: 4%;"
                                                    aria-hidden="true">
                                                </div>                                                    
                                        </div>     
                                        {% endif %}                                            
                                        {% endfor %}  
                                        {% endfor %}                                        
                                    </div>
                                    <p> {{i}}</p>
                                    <!Los activos>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!botones del carrusel>
        <div class="container" style="margin-top: 2%;">
            <div class="row justify-content-md-center">
                <div class="col">
                    <!COLUMA 1 PARA EL BOTON>
                    {% if page_obj.number > 1 %}
                        <a class="btn btn-warning"  data-bs-target="#carouselExampleControls"
                             href="?page={{ page_obj.previous_page_number }}" data-slide="prev" style="padding-left: 16%; padding-right: 16%;">
                         <   </a>
                    {% endif %}
                </div>
                <div class="col">
                    <h5 style="text-align: center;">Numero de articulos</h5>
                </div>
                <div class="col">
                    {% if page_obj.number < page_obj.next_page_number %}
                    <!COLUMA 1 PARA EL BOTON>
                        <a data-toggle="carousel-control-next" class="clickLink btn btn-warning"
                            href="?page={{ page_obj.next_page_number }}" data-slide="next"
                            style="padding-left: 16%; padding-right: 16%; margin-left: 66%;">
                            >
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <footer class="text-white" style="margin-top: 20px; background-color: rgb(1, 109, 6) ; ">
            footer
        </footer>



        {% endblock content %}