{% extends "core/base.html" %}
{% load static %}
{% block content %}

  <div class="container vh-auto">
    <div class="row justify-content-center p-3 ">
        <div class="col col-8 rounded-3 shadow bg-light border border-secondary ">
            <h3 class="text-center">Editar Documento</h3>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="atributoContenedor">                    
                        <div class="container">
                            <label class="form-label">Titulo</label>
                            <input name="in_titulo" class="form-control" type="text" value="{{registro.titulo}}" />
                        </div>
                        <div class="container">
                            <label class="form-label">Ruta</label>
                            <input name="in_ruta" class="form-control" type="file" value="{{rutasDoc}}" />
                        </div>                   
                        <div class="container">
                            <label class="form-label">Tipo de documento</label>
                            <select name="in_tipodocumento" class="form-select">
                                {% for item in choices %}
                                    <option value="{{item.idtipodocumento}}">{{item.tipo}}</option>
                                {% endfor %}
                            </select>
                        </div>      
                    <div class="container">
                        <label class="form-label">Estado</label>
                        <select name="in_estado" class="form-select">
                            {% for item in estado %}
                                <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </select>
                    </div>                
                </div>

                <input type="hidden" value="{{registro.iddocumento}}" name="idtipodocumento">

                <div class="col col-12 text-end p-2">
                    <a href="../" class="btn btn-outline-secondary">Volver</a>
                    <input  class= "btn btn-primary" type="submit" value="Guardar">
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock content %}
