{% extends 'core/base.html' %}
 {% load static %} 
 {% block title %}
 Crear Tipo de documento
 {%endblock title %}
  {% block content %}

<div class="container">
  <div class="row">
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        
      <div class="col">
        <label for="id_tipo">Tipo de Documento:</label>

        <input  type="text" name="tipo" class="form-control"maxlength="30" id="id_tipo" value = "{{categories.tipo}}" />

        <label for="id_imagen">Imagen:</label>
          <!--Aqui inicia el modal-->
          <div div class="modal modal-dialog modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 80% !important;" role="document">
            <div class="modal-content">
                <!-- Cabecera del modal-->
                <div class="modal-header">
                <h4 class="modal-title">Categorías: {{categories.tipo}}</h4>
                <button button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Imagen -->
                <div class="modal-body justify-content-center">
                <iframe class="text-center" src="{{categories.imagen.url}}" width="100%" height="300px" id="myframe"></iframe>
                </div>

            </div>
            </div>
        </div>
        <div class="row">
          <div class="col-8">
              <input name="in_ruta" class="form-control" type="file" value="{{registro.ruta.url}}" />
          </div>
          <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="form-control btn btn-primary" type="button">Abrir archivo</button>

          </div>
      </div>

        

        <label for="id_descripcion">Descripción:</label>

        <input
          type="text"
          name="descripcion"
          class="form-control"
          maxlength="100"
          id="id_descripcion"
          value = "{{categories.descripcion}}"
        />

        <div class="col-12 text-end mt-2">
          <button type="submit" class="btn btn-success">Modificar</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
