{% load static %}

<link rel="stylesheet" href="{% static 'css/confirm-modal.css' %}" />
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{modal.0}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{modal.1}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{modal.2}}</button>
        <button  id="confirm" type="button" class="btn btn-primary">{{modal.3}}</button>
      </div>
    </div>
  </div>
</div>




{% comment %} 
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="confirm-modal modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{modal.0}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{{modal.1}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{modal.2}}
        </button>
        <button id="confirm" type="button" class="btn btn-primary">
          {{modal.3}}
        </button>
      </div>
    </div>
  </div>
</div> {% endcomment %}
<script>
  let saveButton = document.getElementById("confirm");

  saveButton.onclick = function () 
  {
    document.getElementById("form-main").submit();
  }

</script>
