{% extends 'core/base.html' %} {% block content %}
{% block title %}Crear usuario{% endblock title %}

<div
  class="bg-image row d-flex justify-content-center align-items-center vh-100"
>
  <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4">
    <form
      id="form-main"
      class="p-5 shadow rounded-5 bg-light login-container"
      action="{% url 'createUser' %}"
      method="POST"
      class="card card-body"
    >
    {% csrf_token %}
      <h1 class="text-center">Crear usuario</h1>

      {{form}}

      <input  class= "btn btn-primary"  value="Guardar" data-bs-toggle="modal" data-bs-target="#exampleModal" >

    </form>
  </div>
</div>
{% include "core/confirmationModal.html" %}
{% endblock content %}
