{% extends "core/base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!Crear dos columnas una para el nav y la otra para los libros>
  <div class="row">
    <div class="col col-sm-2">
      <!NAV izquierdo>
        <ul class="navbar-nav">
          <form action="" method="get" role="search">
            {% csrf_token %}
            <div class="class=" d-flex"">
              <input class="form-control me-2" type="search" name="texto" placeholder="Buscar" value="{{texto}}" aria-label="Search"
                style="margin-top: 10px; margin-left: 10px; margin-bottom: 5%;"">
              <button class=" btn btn-outline-success" type="submit"
                style="margin-left: 10px; margin-bottom: 5%;">Buscar
              </button>
            </div>
            <div class="form-check form-switch mt-1" style="margin-left: 7%; margin-bottom: 5%;">
    
              {{todo_seleccionado}}
              <li>                
                {% if todo_seleccionado is not None %}
                  {% if todo_seleccionado == 'true' %}
                    <input checked  name="allSelected" onchange="onChangeSelectAll(event)" value="{{todo_seleccionado}}" class="form-check-input" type="checkbox" role="switch" id="chk-{{cat.idtipodocumento}}">                  
                  {% else %}
                    <input  name="allSelected" onchange="onChangeSelectAll(event)" value="{{todo_seleccionado}}" class="form-check-input" type="checkbox" role="switch" id="chk-{{cat.idtipodocumento}}">
                  {% endif %}
                {% else %}
                  <input checked  name="allSelected" onchange="onChangeSelectAll(event)" value="{{todo_seleccionado}}" class="form-check-input" type="checkbox" role="switch" id="chk-{{cat.idtipodocumento}}">
                {% endif %}
                
                <label class="form-check-label" for="chk-{{cat.idtipodocumento}}">Todas</label>
                <!hr class="divider">
              </li>

            </div>
            {% for cat in categories %}
            <div class="form-check form-switch" style="margin-left: 7%; margin-bottom: 5%;">
              {% if cat.activado == True %}
              <input checked name="activo" value="{{cat.idtipodocumento}}" class="form-check-input" type="checkbox"
                role="switch" id="chk-{{cat.idtipodocumento}}">
              {% else %}
              <input name="activo" value="{{cat.idtipodocumento}}" class="form-check-input" type="checkbox"
                role="switch" id="chk-{{cat.idtipodocumento}}">
              {% endif %}
              <label name="categoria" class="form-check-label" for="chk-{{cat.idtipodocumento}}">{{cat.tipo}}</label>
              <li>
                <!hr class="divider">
              </li>
              <input type="hidden" name="idCategoria" value="{{cat.idtipodocumento}}" />
            </div>
            {% endfor %}
          </form>
        </ul>
    </div>
    <div class="col col-sm-10">
      <form action="#" class="border p-5 form">
        <div class="container" style="margin-top: 1%;">
          <div class="row">
            <!Desde aqui generar>
              {% for item in docs %}
              <div class="col ">
                <!Libro 1>
                  <div class="containerima" style="max-width: 300px; position: relative; margin-top: 4%;"
                    aria-hidden="true">
                    <img width="300" height="375" src="{{item.portada.url}}">
                    <div class="content">
                      <p>
                        <a class="titulos-libros" href="/Documentos/details/{{item.iddocumento}}"
                          style=" color: #dfdfdf;  font-size: 20px; font-weight: 900; ">{{item.titulo}}</a>
                      </p>
                    </div>
                 </div>                 
              </div>
              {% endfor %}
              <!Hasta aqui generar>
                {% for item in div_agregar %}
                {% for i in item %}
                <div class="col ">
                  <!Libro 1>
                    <div class="containerima" style="max-width: 300px; position: relative; margin-top: 4%;"
                      aria-hidden="true">
                     
                   </div>                 
                </div>
                {% endfor %}
                {% endfor %}
           
          </div>
        </div>
      </form>
    </div>
  </div>

  {% include "documents/pagination_book.html" %}
  <footer class="text-white"
    style="margin-top: 20px; background-color: rgb(1, 109, 6) ; text-align: center; padding: 2%;">
    Copyright ©
  </footer>

  <script>
    function onChangeSelectAll(e){
      const toggleAll =  e.target;
      //if(toggleAll.checked == true){
        toggleAll.value = toggleAll.checked;
        
        /*quantity = e.target.parentElement.parentElement.parentElement.children.length;
        for(let i = 0; i < quantity; i++){
          if(i > 2){
            if(e.target.parentElement.parentElement.parentElement.children[i].children[0].type == "checkbox")
            {
              e.target.parentElement.parentElement.parentElement.children[i].children[0].checked = true;
            }          
          }
        }*/
      //}
    }    
  </script>
  {% endblock content %}